*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
body{
    background-image: url('../assets/MLBB-bg.png');
    background-color: #000;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.form img{
    height: 640px;
}